<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Dashboard</h1>

    <p>Hi {{ current_student.name }}</p>

    <table class="'table">
        {% for i in students %}
        <tr>
            <td><a href="{% url 'dashboard' i.id %}"">View</a></td>
            <td>{{ i.name }}</td>
            <td>{{ i.phone }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>