:root {
  /* fonts */
  --font-koulen: Koulen;
  --font-cantarell: Cantarell;
  --font-candal: Candal;
  --font-bungee-shade: "Bungee Shade";

  /* font sizes */
  --font-size-sm: 25px;
  --font-size-base: 36px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #d9d9d9;
  --color-gray-200: rgba(0, 0, 0, 0.65);
  --color-gray-300: rgba(217, 217, 217, 0);

  /* border radiuses */
  --br-md: 15px;
}
